.projects__container{
    display: grid;
    grid-template-columns: 100%;
    margin: 2rem 0;
}

.project__item{
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid var(--light-grey-color);
    display: grid;
    grid-template-areas: 
        "img title technologies"
        "img assignee links"
    ;
    grid-template-columns: auto 1fr auto;
    gap: 1.5rem;
}

.project-img{
    background-color: black;
    grid-area: img;
    width: 10rem;
    border: 1px solid var(--light-grey-color);
    border-radius: 1rem;
}

.project__title{
    font-size: 21px;
    font-weight: 600;
    grid-area: title;
}

.project__technologies{
    grid-area: technologies;
    display: flex;
    gap: 0.5rem;
    align-self: start;
}

.project__links{
    grid-area: links;
    display: flex;
    gap: 1rem;
    justify-self: end;
}

.project__assignee{
    grid-area: "assignee";
    font-style: italic;
}