.alineas{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.alinea{

}
.alinea-header{
    font-size: larger;
    text-align: center;
}
.alinea-subtitle{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 1rem;
}