.hero{
    display: grid;
    place-items: center;
}

.hero-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.hero-wrapper__image{
    max-width: 15rem;
    min-width: 320px;
    display: grid;
    border-radius: 100%;
    border: 0.8rem solid var(--white-color);
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 100;
}

.hero-wrapper__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-wrapper__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.hero-wrapper__content--title{
    color: var(--grey-color);
}

.hero-wrapper__content--description{
    margin: 0.5rem 0;
}

.hero-wrapper__content--name{
    font-size: 3rem;
    font-weight: 600;
}

.hero-wrapper__buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 0.6rem;
}

/* if the screen is larger than 760px */
@media screen and (min-width: 800px){
    .hero{
        height: 70vh;
    }
    .hero-wrapper{
        flex-direction: row;
        gap: 4rem;
    }

    .hero-wrapper__content{
        text-align: left;
        align-items: flex-start;
        width: 30rem;
    }

    .hero-wrapper__image{
        max-width: 20rem;
        min-width: 320px;
    }

}

@keyframes fadeOut {
    from {
      opacity: 1;
      transform: translate(0, 0);
    }
    to {
      opacity: 0;
        transform: translate(-5rem, 0);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(5rem, 0);
    }
    to {
      opacity: 1;
        transform: translate(0, 0);
    }
  }

  @keyframes fadeOutImg {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

@keyframes fadeInImg {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}
  
.fadeOut {
    animation: fadeOut 0.5s ease-in-out forwards;
}

.fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.fadeOut.fade-img{
    animation: fadeOutImg 0.5s ease-in-out forwards;
}

.fadeIn.fade-img{
    animation: fadeInImg 0.5s ease-in-out forwards;
}


