.header {
	position: fixed;
	width: 100vw;
	z-index: 40;
	transition: opacity 0.5s ease-in-out;
}

.header__content {
	max-width: var(--site-max-width);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
	transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.header__logo--container {
	text-decoration: none;
	padding: 0rem 1rem;
}

.header__content h1 {
	font-weight: 600;
	font-size: 1.5rem;
}

.navbar{
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
	width: 100%;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
	height: 100vh;
	background: white;
}
.navbar.navOpen{
	transform: scale(1, 1);
}
.menu__items{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: var(--s3);
}
.menu__item{
	position: relative;
}
.dropdown{
	display: flex;
	flex-direction: column;
}
.dropdown__menu__item{
	text-align: center;
}
.dropdown__item__link{
	padding: var(--s-1);
	display: block;
}
.dropdown__item__link:hover , .dropdown:hover .item__link{
	text-decoration: underline;
}
.item__link{
	text-decoration: none;
	color: var(--grey-color);
	padding: 2rem 1.8rem;
	transition: color 0.2s;
	white-space: nowrap;
	display: block;
	text-align: center;
	transition: color 0.5s;
}
.item__link--account{
	position: relative;
}
.item__link--account img{
	display: none;
}
.item__link:hover{
	color: black;
}

.topnav .icon{
	display: none;
}
.toggle-button{
	padding: 1.2rem 1.8rem;
	display: block;
	right: 3%;
	top: 50%;
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
	cursor: pointer;
}
.toggle-button-bar{
	display: block;
	background: var(--main-color);
	height: 5px;
	width: 2.5em;
	border-radius: 2px;
	position: relative;
	content: "";
	margin: 10px 0;
}
.nav-toggle{
	position: absolute !important;
	top: -100% !important;
}
/* .nav-toggle:checked ~ .navbar{
	transform: scale(1, 1);
} */
.nav-toggle:checked ~ .toggle-button{
	/* transform: rotate(90deg); */
}
@media screen and (min-width: 55rem){
	.navbar{
		position: relative;
		height: auto;
		width: auto;
		transform: scale(1, 1);
		display: flex;
		justify-self: flex-end;
		background: none;
		left: unset;
		right: 0;
    	transition: right 0.3s ease;
	}
	.menu__items{
		flex-direction: row;
		text-align: center;
		padding-top: 0vh;
	}
	.toggle-button{
		display: none;
		visibility: hidden;
		opacity: 0;
	}
}