.skills__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

@media screen and (max-width: 800px){
    .skills__container{
        grid-template-columns: repeat(1, 1fr);
    }
}

.skills__container__item__list__item{
    list-style: circle;
    margin-left: 2rem;
}