.page{
    padding: 1rem;
    width: 100%;
    max-width: var(--site-max-width);
    margin: 0 auto;
    margin-top: 5rem;
}

.chip{
    background-color: var(--light-grey-color);
    padding: 0.5rem 0.8rem;
    border-radius: 10rem;
    font-size: 0.8rem;
    color: var(--dark-color);
}